.pastdata {
  width: 100%;
  padding: 0px 20px;
}

.foote .barchat {
  width: 100%;
  /* height: 210px; */
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.table-hide {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.table-light {
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.table-light th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(121, 121, 121);
}
.table-light tr span {
  display: flex;
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
}
.table-light tr {
  transition: 0.5s all;
}
.table-light tr:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
}
.table-light tr .green {
  color: green;
}
.table-light td,
th {
  border: 1px dotted rgba(221, 221, 221, 0);

  padding: 8px;
  font-weight: 600;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

.table-light tr {
  color: rgb(50, 81, 255);
}
@media screen and (max-width: 991px) {
  .table-light td,
  th {
    font-size: 0.9rem;
  }
}
