.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 10rem;
  z-index: 1;
  width: 100%;
}
/* color: rgb(139, 140, 209);
color: rgb(194, 195, 219); */
.card {
  padding: 40px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  /* box-shadow: 5px 20px 10px 1px rgba(0, 0, 0, 0.3); */
  background-color: rgba(0, 0, 0, 0);
  transition: 0.33s all;
}
.card:hover {
  /* box-shadow: 3px 15px 25px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: 5px 15px 10px 1px rgba(0, 0, 0, 0.3);
}
.card h3 {
  font-size: 1.2rem;
  color: rgb(160, 160, 160);
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
}
.card em {
  font-weight: 600;
  color: #ff0000a2;
}
.card span {
  font-weight: 600;
  color: rgb(0, 255, 34);
}
.card p {
  color: rgb(0, 89, 255);
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 10px;
}
@media screen and (max-width: 991px) {
  .flex {
    padding: 20px 50px;
    flex-wrap: wrap;
    margin: 0px;
  }
}
@media screen and (max-width: 684px) {
  .flex {
    flex-wrap: wrap;
    padding: 10px 10px;
  }

  .card {
    box-shadow: 3px 10px 15px 1px rgba(0, 0, 0, 0.3);
    padding: 50px 20px;
    margin: 10px 4px;
  }
  .card h3 {
    font-size: 1.2rem;
    padding-bottom: 25px;
  }
  .card p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 384px) {
  .flex {
    flex-wrap: wrap;
    padding: 20px 10px;
  }

  .card {
    padding: 40px 20px;
    margin: 10px 1px;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 1rem;
  }
}
