.chart1 {
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.7);
}
.chart2 {
  border-radius: 10px;
  padding-top: 20px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  /* margin-bottom: 20px; */
}
.chart3 {
  border-radius: 10px;
  padding-top: 20px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}
@media screen and (max-width: 491px) {
}
