.flex {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 3rem;
  position: relative;
}
.flex div {
  border-right: 1px solid #ddd;
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s all;
}
.flex div:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
}
.flex em {
  font-size: 0.9rem;
  color: red;
}
.flex span {
  color: green;
  font-size: 0.9rem;
}
.flex h3 {
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .flex {
    padding: 3rem 50px 0px 0px;
    text-align: center;
  }
  .flex div {
    border-right: 1px solid #ddd;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    margin-left: 1px;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
  }
  .flex div h3 {
    font-size: 1rem;
  }
}
