* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: rgba(1, 0, 20, 0.897);
} */

:root {
  --blue: #121212;
  --white: rgb(255, 255, 255);
}

body {
  background: var(--background-color);

  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
}
/* darkmood end  */
.container {
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.loading {
  text-align: center;
  letter-spacing: 2px;
}

.row {
  display: flex;
  margin-top: 5rem;
  width: 100%;
}
.left {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}
.right {
  position: relative;
  width: 100%;
  padding: 20px;
}

.footer p {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(55, 0, 235);
  font-weight: 800;
  padding: 20px 0px 10px;
}
.footer ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer ul li {
  list-style: none;
  padding-right: 20px;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(230, 23, 4);
}
@media screen and (max-width: 991px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row {
    margin-top: 3rem;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .right {
    border-radius: 10px;
    padding: 0px;
    width: 100%;
    /* box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.9); */
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .left {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
