* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.897);
}
.container {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.loading {
  text-align: center;
  letter-spacing: 2px;
}
h1 {
  text-align: center;
  font-size: 1.9rem;
  color: rgb(90, 90, 90);
  /* margin-top: 2rem; */
  padding-top: 2rem;
}
h1 span {
  color: blue;
}

.row {
  display: flex;
  margin-top: 5rem;
  width: 100%;
}
.left {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}
.right {
  position: relative;
  width: 100%;
  padding: 20px;
}

.footer p {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(55, 0, 235);
  font-weight: 800;
  padding: 20px 0px 10px;
}
.footer ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer ul li {
  list-style: none;
  padding-right: 20px;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 991px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row {
    margin-top: 3rem;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .right {
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .left {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
