.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
h1 {
  text-align: center;
  padding-top: 20px;
}

.table {
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cad2ff;
  color: rgb(0, 0, 0);
}
.table tr span {
  display: flex;
  color: red;
  font-size: 0.8rem;
}
.table tr {
  transition: 0.5s all;
}
.table tr:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
}
.table tr .green {
  color: rgb(30, 236, 58);
}
.table td,
th {
  /* border: 1px dotted #ddd; */
  /* border-bottom: 1px solid #ddd; */
  padding: 8px;
  font-weight: 600;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}
.table tr:nth-child(even) {
  background-color: #cde0ff9b;
  color: rgb(0, 0, 0);
}

.table tr {
  background-color: #ffffff9b;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .table td {
    font-size: 0.9rem;
  }
}

/* end  */

/* start try  */
